<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<script th:fragment="footer" th:src="@{/js/vendor/fontawesome/fontawesome.min.js}"></script>
<script th:fragment="footer" th:src="@{/js/vendor/fontawesome/regular.min.js}"></script>
<script th:fragment="footer" th:src="@{/js/vendor/fontawesome/solid.min.js}"></script>
<script th:fragment="footer" th:src="@{/js/vendor/bulma/bulma-carousel.min.js}"></script>
<script th:fragment="footer" th:src="@{/js/carousel.js}"></script>
<script th:fragment="footer" th:src="@{/js/main.js}"></script>
</body>
</html>