<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta th:fragment="meta" charset="UTF-8">
  <meta th:fragment="meta" name="viewport" content="width=device-width, initial-scale=1">
  <link th:fragment="link" rel="icon" type="image/ico" href="images/favicon.ico">
  <link th:fragment="link" rel="stylesheet" href="css/vendor/fontawesome/all.css">
  <link th:fragment="link" rel="stylesheet" href="css/vendor/fontawesome/fontawesome.min.css">
  <link th:fragment="link" rel="stylesheet" href="css/vendor/fontawesome/regular.min.css">
  <link th:fragment="link" rel="stylesheet" href="css/vendor/fontawesome/solid.min.css">
  <link th:fragment="link" rel="stylesheet" href="css/vendor/bulma/bulma.min.css">
  <link th:fragment="link" rel="stylesheet" href="css/vendor/bulma/bulma-carousel.min.css">
  <link th:fragment="link" rel="stylesheet" href="css/vendor/bulma/bulma-badge.min.css">
  <link th:fragment="link" rel="stylesheet" href="css/style.css">
  <title></title>
</head>
<body>

</body>
</html>