.page-top {
  height: 1rem;
  background-color: royalblue;
}

.navbar {
  height: 50px;
  background: rgba(54, 54, 54, 0.75);
}

.hero.has-carousel {
  position: relative;
  top: -52px;
  min-height: 250px;
}

section.container {
  padding: 1rem 0 1rem 0;
}