<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" href="css/vendor/bulma/bulma.min.css">
  <link rel="stylesheet" href="css/vendor/bulma/bulma-carousel.min.css">
  <link rel="stylesheet" href="css/vendor/fontawesome/fontawesome.css">
  <link rel="stylesheet" href="css/vendor/fontawesome/regular.css">
  <link rel="stylesheet" href="css/vendor/fontawesome/solid.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="page-top is-primary"></div>
<section class="hero is-large has-carousel">
  <div class="hero-carousel">
    <div class='has-background is-active'>
      <figure class="image">
        <img class="is-background" src="images/slide-1.jpg" alt=""/>
      </figure>
    </div>
    <div class='has-background'>
      <img class="is-background" src="images/slide-2.jpg" alt=""/>
    </div>
    <div class='has-background'>
      <img class="is-background" src="images/slide-3.jpg" alt=""/>
    </div>
  </div>
  <div class="hero-head">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="images/logo/logo.png" alt="Book Store logo">
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
             data-target="navbarMenuHeroA">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item has-text-warning is-active">
              HOME
            </a>
            <a class="navbar-item has-text-warning">
              STORE
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link has-text-warning is-arrowless">
                MORE
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
            <div class="navbar-item">
              <div class="field has-addons">
                <p class="control is-expanded">
                  <label>
                    <input class="input is-rounded" type="text" placeholder="Search book">
                  </label>
                </p>
                <p class="control">
                  <a class="button is-rounded has-text-white is-warning">
                    <span class="icon"><i class="fas fa-search"></i></span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-rounded has-text-white is-info">
                  Log in
                </a>
                <a class="button is-rounded has-text-white is-warning">
                  <strong>Sign up</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
  </div>
</section>
<section class="section">
  <div class="columns is-desktop is-multiline is-centered">
    <div class="column is-3">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by4">
            <img
                src="images/best-selling-books-of-2019.png"
                alt="Placeholder image"
                class="modal-button" data-target="modal-image2">
          </figure>
        </div>
        <div class="card-content has-text-centered">
          <div class="content">
            <h4>Best Sellers</h4>
            <p>Purus semper eget duis at tellus at urna condimentum mattis</p>
            <span class="button is-rounded is-link modal-button" data-target="modal-image2">Book List</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by4">
            <img
                src="images/best-selling-books-of-2019.png"
                alt="Placeholder image"
                class="modal-button" data-target="modal-image2">
          </figure>
        </div>
        <div class="card-content has-text-centered">
          <div class="content">
            <h4>Best Sellers</h4>
            <p>Purus semper eget duis at tellus at urna condimentum mattis</p>
            <span class="button is-rounded is-link modal-button" data-target="modal-image2">Book List</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by4">
            <img
                src="images/best-selling-books-of-2019.png"
                alt="Placeholder image"
                class="modal-button" data-target="modal-image2">
          </figure>
        </div>
        <div class="card-content has-text-centered">
          <div class="content">
            <h4>Best Sellers</h4>
            <p>Purus semper eget duis at tellus at urna condimentum mattis</p>
            <span class="button is-rounded is-link modal-button" data-target="modal-image2">Book List</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="title has-text-centered">Featured books</h1>
  </div>
</section>
<section class="container">
  <div id="slider2">
    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3">
          <img src="images/41atteEGRqL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">They Called Us Enemy</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">George Takei, Justin Eisinger, Steven Scott</h6>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3 is-covered">
          <img src="images/41Avd0oibTL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">I Will Never See the World Again</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">Ahmet Altan, Yasemin Congar</h6>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3 is-covered">
          <img src="images/41bsvxNUSdL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">The Silent Patient</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">Alex Michaelides</h6>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3 is-covered">
          <img src="images/41cFc108RGL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">The Nickel Boys</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">Colson Whitehead</h6>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3 is-covered">
          <img src="images/41GSxe6chwL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">Wild Game: My Mother, Her Lover, and Me</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">Adrienne Brodeur</h6>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3 is-covered">
          <img src="images/41cjbSYGRCL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">Red at the Bone</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">Jacqueline Woodson</h6>
        </div>
      </div>
    </div>

  </div>
</section>
<script src="js/vendor/bulma/bulma-carousel.min.js"></script>
<script src="js/vendor/fontawesome/fontawesome.min.js"></script>
<script src="js/vendor/fontawesome/regular.min.js"></script>
<script src="js/vendor/fontawesome/solid.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>