<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" href="css/vendor/bulma/bulma.min.css">
  <link rel="stylesheet" href="css/vendor/bulma/bulma-carousel.min.css">
  <link rel="stylesheet" href="css/vendor/bulma/bulma-badge.min.css">
  <link rel="stylesheet" href="css/vendor/fontawesome/fontawesome.min.css">
  <link rel="stylesheet" href="css/vendor/fontawesome/regular.min.css">
  <link rel="stylesheet" href="css/vendor/fontawesome/solid.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:replace="common/header :: header"></div>
<section class="section">
  <div class="columns is-desktop is-multiline is-centered">
    <div class="column is-3">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by4">
            <img
                src="images/best-selling-books-of-2019.png"
                alt="Placeholder image"
                class="modal-button" data-target="modal-image2">
          </figure>
        </div>
        <div class="card-content has-text-centered">
          <div class="content">
            <h4>Best Sellers</h4>
            <p>Purus semper eget duis at tellus at urna condimentum mattis</p>
            <span class="button is-rounded is-link modal-button" data-target="modal-image2">Book List</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by4">
            <img
                src="images/best-selling-books-of-2019.png"
                alt="Placeholder image"
                class="modal-button" data-target="modal-image2">
          </figure>
        </div>
        <div class="card-content has-text-centered">
          <div class="content">
            <h4>Best Sellers</h4>
            <p>Purus semper eget duis at tellus at urna condimentum mattis</p>
            <span class="button is-rounded is-link modal-button" data-target="modal-image2">Book List</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by4">
            <img
                src="images/best-selling-books-of-2019.png"
                alt="Placeholder image"
                class="modal-button" data-target="modal-image2">
          </figure>
        </div>
        <div class="card-content has-text-centered">
          <div class="content">
            <h4>Best Sellers</h4>
            <p>Purus semper eget duis at tellus at urna condimentum mattis</p>
            <span class="button is-rounded is-link modal-button" data-target="modal-image2">Book List</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h1 class="title has-text-centered">Featured books</h1>
  <div id="slider2">
    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3">
          <img src="images/41atteEGRqL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">They Called Us Enemy</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">George Takei, Justin Eisinger, Steven Scott</h6>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3 is-covered">
          <img src="images/41Avd0oibTL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">I Will Never See the World Again</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">Ahmet Altan, Yasemin Congar</h6>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3 is-covered">
          <img src="images/41bsvxNUSdL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">The Silent Patient</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">Alex Michaelides</h6>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3 is-covered">
          <img src="images/41cFc108RGL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">The Nickel Boys</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">Colson Whitehead</h6>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3 is-covered">
          <img src="images/41GSxe6chwL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">Wild Game: My Mother, Her Lover, and Me</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">Adrienne Brodeur</h6>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <figure class="image is-2by3 is-covered">
          <img src="images/41cjbSYGRCL._AC_SX184_.jpg" alt="">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="item__title">
          <h5 class="title is-5">Red at the Bone</h5>
        </div>
        <div class="item__description">
          <h6 class="subtitle is-6">Jacqueline Woodson</h6>
        </div>
      </div>
    </div>

  </div>
</section>
<script src="js/vendor/bulma/bulma-carousel.min.js"></script>
<script src="js/vendor/fontawesome/fontawesome.min.js"></script>
<script src="js/vendor/fontawesome/regular.min.js"></script>
<script src="js/vendor/fontawesome/solid.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>