<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta th:replace="common/header::meta">
  <title>Book Store - Reset Password</title>
  <link th:replace="common/header::link">
</head>
<body>
<div th:replace="common/navbar::navbar"></div>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">Reset Password</h2>
      <h5 class="subtitle">Enter the email address associated with your account, and we'll send you
        a link to reset your password.</h5>
    </div>
  </div>
</section>
<section class="container">
  <div class="field">
    <label for="email" class="label">Email</label>
    <p class="control has-icons-left has-icons-right">
      <input id="email" class="input" name="email" type="email">
      <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
      <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success">
        Send Reset Link
      </button>
    </p>
  </div>
</section>
<script th:replace="common/footer::footer"></script>
</body>
</html>